.add-list-page {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    font-family: "Cinzel";

}

.add-list-page .list-wrapper {
    width: 60%;
    display: flex;
    margin-top: 5%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: large;
    margin-right: 18%;
}

h3{
    font-family: "Cinzel";
    font-size: xx-large;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Formulario ---------------------------------------------------------------------------------*/
.add-list-page .list-form {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.add-list-page .list-form .form-group {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.add-list-page .list-form .form-group input {
    border: solid 1px #e7e7e7;
    border-radius: var(--border-radius-1);
    width: 100%;
    font-size: 100%;
    color:white;
    display: block;
    margin-bottom: 20px;
}



input.ng-invalid.ng-touched {
    border: solid 2px red !important
}

input{
    background-color: rgba(192, 192, 192, 0.492);
}
input::placeholder{
    color: rgb(196, 178, 178);
    text-align: left;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
}

/* Button -----------------------------------------------------------------------------------*/
.add-list-page .list-form .button {
    --offset: 10px;
    --border-size: 2px;
    position: relative;
    padding: .5em;
    top: 10%;
    border: 0;
    background: transparent;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    cursor: pointer;
    font-weight: bold;
    border-radius: .5px;
    box-shadow: inset 0 0 0 var(--border-size) currentcolor;
    transition: background 0.8s ease;
    align-items: center;
    
    font-size: large;
}
.add-list-page .list-form .button p{
    margin-top: 12px;
}
.login-auth-page .login-auth-form .button:hover{
    background-color: rgba(245, 245, 245, 0.712);
    color: rgb(0, 0, 0);
}
.button__horizontal, .button__vertical {
    position: absolute;
    top: var(--horizontal-offset, 0);
    right: var(--vertical-offset, 0);
    bottom: var(--horizontal-offset, 0);
    left: var(--vertical-offset, 0);
    transition: transform 0.8s ease;
    will-change: transform;
    border-radius: 1px;
}
.button__horizontal::before, .button__vertical::before {
    content: "";
    position: absolute;
    border: inherit;
}
.button__horizontal {
    --vertical-offset: calc(var(--offset) * -1);
    border-top: var(--border-size) solid currentcolor;
    border-bottom: var(--border-size) solid currentcolor;
}
.button__horizontal::before {
    top: calc(var(--vertical-offset) - var(--border-size));
    bottom: calc(var(--vertical-offset) - var(--border-size));
    left: calc(var(--vertical-offset) * -1);
    right: calc(var(--vertical-offset) * -1);
}
.button:hover .button__horizontal {
    transform: scaleX(0);
}
.button__vertical {
    --horizontal-offset: calc(var(--offset) * -1);
    border-left: var(--border-size) solid currentcolor;
    border-right: var(--border-size) solid currentcolor;
}
.button__vertical::before {
    top: calc(var(--horizontal-offset) * -1);
    bottom: calc(var(--horizontal-offset) * -1);
    left: calc(var(--horizontal-offset) - var(--border-size));
    right: calc(var(--horizontal-offset) - var(--border-size));
    
}
.button:hover .button__vertical {
    transform: scaleY(0);
}

