.play-list-body {
    padding: 1rem;

}

.play-list-table-header {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    margin: 0;
    padding: 0;
    font-size: 90%;
    letter-spacing: 1px;
    border-bottom: solid 1px whitesmoke;
    padding-bottom: .5rem;
}

.play-list-table-header li {
    text-transform: uppercase;
    color: var(--color-4);
    opacity: .7;
}
.resultado{
    overflow-y: auto;
    height: 45rem;
}
.resultado::-webkit-scrollbar {
    -webkit-appearance: none;
}
.resultado::-webkit-scrollbar:vertical {
    width:10px;
}
.resultado::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.resultado::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.resultado::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.resultado .play-list-rows {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 2fr;
    margin: 0;
    padding: 1rem 0 0 0;
    align-items: center;
    
}

.resultado .play-list-rows .book-name-opacity {
    opacity: .7;
    font-weight: 300;
}

.cover-section {
    display: flex;
    padding: 0;
    align-items: center;
}

.cover-section .cover-book {
    width: 20%;
    object-fit: cover;
}

.cover-section .cover-info {
    padding: 0 1rem;
}

.cover-section .cover-info .name-book-details {
    font-size: 90%;
    opacity: .7;
}
.uil {
    font-size: var(--font-size-2);
    padding-right: .5rem;
    
}

.play-list-rows .book-name-opacity button{
    background: transparent;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
}