<div class="login-auth-page">
    <div class="logo">
        <h1>
            Your
            <em class="planet left">B</em>
            <em >O</em>
            <em>O</em>
            <em>K</em>
            <em class="planet right">S</em>
            Gallery
        </h1>
    </div>
    
    <div class="login-auth-wrapper">
        <h3>Para continuar, inicia sesión</h3>
        <form (ngSubmit)="sendLogin()" [formGroup]="formLogin" class="login-auth-form">
            <div class="form-group">
                <label for="username">Dirección de correo electronico</label>
                <input formControlName="username" type="text" placeholder="Dirección de correo o nombre de usuario" class="form-input">
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input formControlName="password" type="password" placeholder="Contraseña" class="form-input">
            </div>
            <div class="form-steps">
                <a class="link" href="forgotPassword.html">¿Se te ha olvidado la contraseña?</a>
            </div>
            <div *ngIf="errorSession">
                Ocurrio un error con tu email o password
            </div>
            <button class="button"[disabled]="formLogin.invalid">
                <p>Iniciar sesión</p>
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </form>
    </div>
</div>

