.card-player {
    background-color: var(--color-2);
    height: 5rem;
    border-width: 1px;
    border-style: solid;
    border-color: whitesmoke;
    border-radius: var(--border-radius-1);
    display: flex;
    cursor: pointer;
    transition: all ease var(--animation-1);
    justify-content: space-between;
}

.card-player:hover {
    background-color: #4d4d4d;
}


.card-player .cover {
    width: 5rem;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: var(--border-radius-1);
    border-bottom-left-radius: var(--border-radius-1);
}

.card-player .content-player {
    font-weight: 500;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 0 0 .75rem;
}
/*-------------------------------------------------------------------------*/
.card-player.card-player.player-big .heart{
    position: absolute;
    right: 75%;
    top: 6%
}
.card-player .heart{
    opacity: 0;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all ease var(--animation-1);
}
.card-player:hover .heart {
    opacity: 1;
}
.card-player .heart {
    color: var(--color-4);
    border: 0;
    font-size: 1.50rem;
    border-radius: 2rem;
    width: 24px;
    height: 24px;
    margin-left: 1px;
}

/* ------------------------------------------------------------------------ */
.card-player.player-big .info-button-player {
    position: absolute;
    right: 0;
    top: 6%;
}
.card-player .info-button-player {
    opacity: 0;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all ease var(--animation-1);
}

.card-player:hover .info-button-player {
    opacity: 1;
}

.card-player .info-button-player .info-btn {
    color: var(--color-4);
    border: 0;
    font-size: 1.50rem;
    border-radius: 2rem;
    background-color: var(--color-1);
    width: 36px;
    height: 35px;
    margin-left: 1px;
}
.card-player .info-button-player .info-btn .uil{
    font-style: none;
    color: white;
}
/* ------------------------------------------------------------------------ */
.card-player.player-big .edit-button-player {
    position: absolute;
    right: 0;
    top: 17%;
}
.card-player .edit-button-player {
    opacity: 0;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all ease var(--animation-1);
}

.card-player:hover .edit-button-player {
    opacity: 1;
}


.card-player .edit-button-player .edit-btn {
    color: var(--color-4);
    border: 0;
    font-size: 1.50rem;
    border-radius: 2rem;
    background-color: blue;
    width: 36px;
    height: 35px;
    margin-left: 1px;
}

/* ------------------------------------------------------------------------ */
.card-player.player-big .delete-button-player {
    position: absolute;
    right: 0;
    top:85%;
}
.card-player .delete-button-player {
    opacity: 0;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all ease var(--animation-1);
}

.card-player:hover .delete-button-player {
    opacity: 1;
}

.card-player .delete-button-player .delete-btn {
    color: var(--color-4);
    border: 0;
    font-size: 1.50rem;
    border-radius: 2rem;
    background-color:red;
    width: 36px;
    height: 35px;
    margin-left: 1px;
    margin-top: 1%;
    cursor: pointer;
}
/* ------------------------------------------------------------------------ */
.card-player.player-big {
    position: relative;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 1rem;
}

.card-player.player-big .cover {
    width: 100%;
    height: 300px;
    border-radius: var(--border-radius-1);
}

.card-player.player-big .content-player {
    padding: .5rem 0;
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
}

.card-player.player-big .content-player .sub-title-books {
    font-size: 90%;
    opacity: .7;
}

