<div class="add-list-book">
    <div class="header">
        <h1>CREAR LISTA</h1>
    </div>
    <div class="formulario">
            <form (ngSubmit)="sendList()" formGroup="formList" class="login-auth-form">
            <div class="nombre-lista">
                <label for="nameList">Nombre de la lista:</label>
                <input formControlName="nameList" type="text" placeholder="Lista1" class="form-input">
            </div>
            <button class="button"[disabled]="formList.invalid" [routerLink]="'/books_gallery'">
                <p>Iniciar sesión</p>
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </form>
    </div>
    
</div>
