<div class="add-book-page">
    <div class="book-wrapper">
        <h3>Añade un libro a tu galeria </h3>
        <form (ngSubmit)="sendBook()" [formGroup]="formBook" class="book-form">
            <div class="form-group">
                <div class="titleBook">
                    <input formControlName="name" type="text" placeholder="Nombre del libro" class="form-input">
                </div>
                <div class="autor">
                    <input formControlName="autor" type="text" placeholder="Nombre del autor" class="form-input">
                </div>
                <div class="saga">
                    <input formControlName="saga" type="text" placeholder="Nombre de la saga" class="form-input">
                </div>
                <div class="editorial">
                    <input formControlName="editorial" type="text" placeholder="Nombre de la editorial" class="form-input">
                </div>
                <div class="sinopsis">
                    <textarea formControlName="sinopsis" size = 3 placeholder="Sinopsis" class="form-input"></textarea>
                </div>
                <div class="portada">
                    <input formControlName="portada" type="textarea" placeholder="URL de la portada" class="form-input">
                </div>

            </div>
            <button class="button"[disabled]="formBook.invalid">
                <p>Añadir Libro</p>
                <div class="button__horizontal"></div>
                <div class="button__vertical"></div>
            </button>
        </form>
    </div>
</div>
