<div class="section--generic">
    <h1 class="section--generic__title">{{title}}</h1>

    <div class="section--generic__player--zone">
        <ul class="player--list" *ngIf="dataBooks.length != 0">
            <li   *ngFor="let books of dataBooks; let i = index">
                <!--Para de buggear un objeto: {track | json} -->
                <app-card-books  [books]='books'></app-card-books>
                
            </li>
        </ul>
        <ul *ngIf="dataBooks.length == 0" class="no_books">
            <div>
            <p> No tienes libros aqui, por favor añada libros rapido, QUE HACE MUCHO FRIO AQUI</p>
            </div> 
        </ul>
    </div>
</div>