<div class="detail-book" *ngFor="let i of dataBook">
    <div class="header">
        <div class="portada">
            <img appImgBroken [customImg]="'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png'"[src]="i.portada">
        </div>
        <div class="detalles-libro">
            <div class="txt">
                <h1>{{i.nombre}}</h1>
                <h2>{{i.saga}}</h2>
                <h4>{{i.editorial}}</h4>
            </div>
        </div>
        <div class="autor">
            <h2 class="autor-libro">Autor: {{i.autor?.nombre}}</h2>
            <br>
            <div class="autor-foto">
                <img appImgBroken [customImg]="'https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/2048px-Angular_full_color_logo.svg.png'" [src]="i.autor?.foto">
            </div> 
        </div>
        <div class="sinopsis">
            <h2>Sinopsis:</h2>
            <p>
                {{i.sinopsis}}
            </p>
        </div>
    </div>
</div>

 