
.header{
    background: linear-gradient(90deg, rgba(135, 134, 143, 0.199) 0%, rgb(26, 22, 22) 66%);
    padding: 1px;
    height: 52.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 70px 20px;
    font-family: "Cinzel";
}

.header .portada {
    position: relative;
    margin: 2% 2% 1% 2%;
    width: 20rem;
    height: 30rem;
    border-radius: 70px 20px 20px 20px;
}
.header .portada img{
    width: 100%;
    height: 100%;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0.466);
    border-radius: 70px 20px 20px 20px;
}
.header .detalles-libro{
    position: absolute;
    padding: 0.5%;
    display: flex;
    height: 40%;
    width: 72%;
    border-radius: 20px;
    right: -7%;
    top: 11%;
}
.header .detalles-libro .txt{
    width:60%;
    text-align: center;
    text-transform: uppercase;
}

.txt h1{
    font-family: "Cinzel";
    font-size: 3rem;
    line-height: 50px;
}
.txt h2{
    font-family: "Cinzel";
    font-size: 1.5rem;
}
.header .autor {
    float: right;
    margin-top: -30rem;
    padding: 1%;
    width: 20%;
    height: 34%;
    border-radius: 20px;
}

.header .autor .autor-libro{
    font-family: "Cinzel";
    margin: 0%;
    width: 100%;
}
.header .autor .autor-foto{
    width: 60%;
    height: 80%;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgba(245, 245, 245, 0.466);
    border-radius: 20px;
    margin-right: 10%;
}

.header .autor .autor-foto img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.header .sinopsis{
    margin-top: 1%;
    margin-left: 2%;
    width: 95%;
    font-size: 1.25rem;
    text-align: justify;
    display: inline-block;
    padding: 1%;
    text-transform: inherit;
}
.header .sinopsis h2{
    margin-bottom: 0;
}
.sinopsis .contenido p{
    height: 15rem;
    overflow-y: auto;
    padding-right: 15px;
}

.sinopsis .contenido p::-webkit-scrollbar {
    -webkit-appearance: none;
}
.sinopsis .contenido p::-webkit-scrollbar:vertical {
    width:10px;
}
.sinopsis .contenido p::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 
.sinopsis .contenido p::-webkit-scrollbar-thumb {
    background-color: #7b7b7b;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}
.sinopsis .contenido::-webkit-scrollbar-track {
    border-radius: 10px;  
}
